.course-head{
    color: #1D1D1D;
}
.ed-discover-head{
    color: #4A4A4A;
}
.edtech-discover-p{
    color: #777777;
}
.h-size{
    font-size: 25px;
}
.p-size{
    font-size: 45px;
}
.fa-star{
    color: gold;
}
.fa-star-half-stroke{
    color: gold;
}
@media only screen and (max-width: 576px) {
    

    .courses{
        display: flex;
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .company{
        display: none;
    }
    
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    .company{
        display: none;
    }
}
