.course-head{
    color: #1D1D1D;
}
.ed-discover-head{
    color: #4A4A4A;
}
.edtech-discover-p{
    color: #777777;
}
.h-size{
    font-size: 25px;
}
.p-size{
    font-size: 45px;
}
@media screen only (max-width: 576px) {
    
    .media-query{
        d-flex: wrap;
    }
    
}
